numpy==2.2.6
pandas==2.3.1
matplotlib==3.10.3
scikit-learn==1.7.1
xgboost==3.0.2
optuna==4.4.0
shap==0.48.0
tqdm==4.67.1
scipy==1.16.0
astropy==7.1.0
gatspy==0.3
progress==1.6.1
astroML==1.0.2
joblib==1.5.1
